<!DOCTYPE html>
<html>
    <head>
        <% if(locals.events){ 
            const id = locals.events._id;
        %>
        
        <title>Website Name</title>
        <meta content="<%= locals.events.title %>" property="og:title" />
        <meta content="<%= locals.events.description %>" property="og:description" />
        <meta content="<%= "https://fullstack.nexus/calendar/" + locals.events.id %>" property="og:url" />
        <meta content="https://fullstack.nexus/icon?type=png" property="og:image" />
        <meta content="#43B581" data-react-helmet="true" name="theme-color" />

        <style>
            html{
                height:100%;
                padding:0;
                margin:0;
            }
            body {
                background-color: rgb(182, 156, 255);
                color: #ffffff;
                text-align: center;
                font-family: "Cambria", "Cochin", "Georgia";
                height:100%;
                padding:0;
                margin:0;
            }
            #eventContainer {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            #eventContainer > * {
                margin: 3px 0px 15px 0px;
                padding: 5px 25px;
                text-align: center;
                min-width: fit-content;
            }

            h1{
                border-radius: 10px;
                font-size: 3em;
                background-color: rgb(152, 136, 225);
                width:60%;
                padding:inherit;
            }
            h2{
                border-radius: 10px;
                width: 50%;
                font-size: 2em;
                background-color: rgb(136, 174, 225);
            }
            #eventContainer > p{
                border-radius: 10px;
                width: fit-content;
                font-size: 1.5em;
                background-color: rgb(56, 121, 241);
                margin: 5px;
            }
            #eventContainer > div{
                border-radius: 10px;
                width: fit-content;
                font-size: 1.5em;
                background-color: rgb(226, 118, 136);
            }
            .nav-button{
                display:flex;
                justify-content: center;
                align-items: center; /* Add this line */
            }
            .nav-button{
                color: rgb(56, 241, 65);
            }
            .nav-button:hover{
                cursor: pointer;
                backdrop-filter:brightness(0.75);
            }
        </style>
        <% } else { %>
        <title>Event Not Found</title>
        <% } %>
    </head>
    <body>
    <% if(locals.events){ %>
    <div style="display: flex; justify-content: space-between; height:100%;">
        <% if(locals.events.id > 1){ %>
        <div style="font-weight: bold;">
            <a class="nav-button" style="height:100%; border-radius: 0px 5px 5px 0px; float: inline-start;" href="./<%= locals.events.id - 1 %>">
                <- Previous (<%= locals.events.id - 1 %>)
            </a>
        </div>
        <% } %>
        <div id="eventContainer" display="flex">
            <p style="font-weight: bold; margin-bottom: 5px; margin-top: 30px; text-decoration: underline;">Event: </p>
            <h1><%= locals.events.title %></h1>
            <h2>Created by <%= locals.events.user %></h2>
            <p><%= locals.events.description %></p>
            <p>Date: <%= locals.events.date %></p>
            <div>
                <% if(locals.events.endtime){ %>
                    <p>Start time: <%= locals.events.starttime %></p>
                    <p>------------------------------------------</p>
                    <p>Ending time: <%= locals.events.endtime %></p>
                <% } else { %>
                    <p>Time: <%= locals.events.starttime %></p>
                <% } %>
            </div>
        </div>
        <% if(locals.events.id < lastEventID){ %>
        <div>
            <a class="nav-button" style="height:100%; font-weight: bold; border-radius: 5px 0px 0px 5px; float:inline-end;" href="./<%= locals.events.id + 1 %>">
                Next (<%= locals.events.id + 1 %>) ->                
            </a>
        </div>
        <% } %>
    </div>
    

    <% } else { %>
        <p>Event not found!</p>

    <% } %>
    </body>
</html>