<!DOCTYPE html>
<html>
    <head>
        <script>
            const BASE_URL = "<%= locals.BASE_URL %>";
        </script>

        <title>Calendar Meeting Schedule</title>
        
        <meta property="og:image" content="<%= BASE_URL %>/assets/icon?type=png"><!--IMPLEMENTS THIS LATER--> 
        <meta content="<%= BASE_URL %>/assets/icon-mini?type=png" property="og:image" />
        <meta content="#b69cff" data-react-helmet="true" name="theme-color" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="description" content="Calendar page for Full Stack Nexus. Visit to see meeting schedules!">
    
    
        <link rel="stylesheet" href="<%= BASE_URL %>/assets/styles/calendar.css">
        <script src="<%= BASE_URL %>/assets/scripts/calendar/calendar.js" type="module" defer></script>
        <script defer type="module">
            import { getEventData } from "<%= BASE_URL %>/assets/scripts/calendar/calendar.js";
            const eventData = getEventData();
            if(eventData.length === 0){
                document.getElementById('next-meeting-date').innerHTML = "Next Meeting/Event: N/A";
            }
            else{
                eventData.sort((a, b) => (a.date > b.date) ? 1 : -1);
                const currDate = new Date().toISOString().split('T')[0];
                console.log(currDate);

                let eventDate = 0//first query in eventData

                while(currDate > eventData[eventDate].date){
                    eventDate++;
                }

                let warningText;

                if(currDate === eventData[eventDate].date){
                    warningText = "Today's Meeting/Event: " + eventData[eventDate].date + " ( TODAY!! )";
                }
                else if(currDate < eventData[eventDate].date){
                    warningText = "Next Meeting/Event: " + eventData[eventDate].date;
                }
                else{
                    warningText = "Next Meeting/Event: N/A";
                }

                document.getElementById('next-meeting-date').innerHTML = warningText;

                const eventLink = document.createElement('a');
                eventLink.href = "<%= BASE_URL %>/calendar/event/" + eventData[eventDate].id;
                eventLink.innerText = "Click here to view event details!!";
                document.getElementById('next-meeting-date').parentElement.appendChild(eventLink);
            }
        </script>

    </head>
    <body>

        <header>
            <span>
                <h1>NOTE: QoL things partially broken for mobile devices busst will fix later</h1>
                <h2>dont worry all the calendar events are working!</h2>
                <h1>meeting schedule for</h1>
                <h1 id="input-month-year">
                
                </h1>
            </span>
            <h1 id="next-meeting-date">

            </h1>
        </header>
        <% if(locals.permissions === "admin" /*true*/){ %>
            <form id="submit-form" autocomplete="off">
                <!-- username from user session -->
                <span title="username">|<%= locals.username %>|</span>
                <input id="title" placeholder="Title: " type="text" name="title" required>
                <input id="location" placeholder="Location: " type="text" name="location" required>
                <input id="description" placeholder="Description: " type="text" name="description">
                <input id="date" type="date" name="date" required>
                <input id="starttime" type="time" name="starttime" required>
                <span> -> </span>
                <input id="endtime" type="time" name="endtime">
                
                <button id="login-button" type="submit">Submit</button>
                <button id="reset-button" type="reset">Reset</button>
            </form>
            <script defer>
                document.getElementById('date').value = new Date().toISOString().split('T')[0];
            </script>
            <script src="<%= BASE_URL %>/assets/scripts/calendar/adminCalendar.js" type="module" defer></script>

        <% }else{ %>
            <form>
                <span style="font-size: 2em;">navigation -></span>
                <input id="date" type="date" name="date">
            </form>
        <% } %>
        <table id="calendar">
            <tr id="row-1" class="calendar-row">
                
            </tr>
            <tr id="row-2" class="calendar-row">

            </tr>
            <tr id="row-3" class="calendar-row">

            </tr>
            <tr id="row-4" class="calendar-row">

            </tr>
            <tr id="row-5" class="calendar-row">

            </tr>
            <tr id="row-6" class="calendar-row">
                
            </tr>
        </table>


        <footer></footer>

    </body>
</html>