<!DOCTYPE html>
<html>
    <head>
        <script>
            const BASE_URL = "<%= locals.BASE_URL %>";
        </script>
        <meta name="description" content="Calendar Website for FSN">
        <meta property="og:image" content="<%= BASE_URL %>/assets/icon?type=png"><!--IMPLEMENTS THIS LATER--> 
        <script src="<%= BASE_URL %>/assets/scripts/userLogs.js" type="module"></script>
        <meta content="<%= BASE_URL %>/assets/icon-mini?type=png" property="og:image" />
        <meta content="#b69cff" data-react-helmet="true" name="theme-color" />
        <meta name="twitter:card" content="summary_large_image">
        <style>
            html {
                background-color: aliceblue;
            }
            body{
                font-family: 'Courier New', Courier, monospace;
                text-align: center;
            }
            #reset-displayed-data{
                display: none;
            }
            #calendar{
                border-radius: 2px;
                width: auto;
                max-width: 1000px;
                min-width: 1000px;
                margin-top: 20px;
                height: auto;
                min-height: 833px;
                max-height: 833px;
                
            }
            table, th, td{
                /*display:flex;*/
                margin-left: auto;
                margin-right: auto;
                border: 2px solid;
            }
            td{
                width: 94px;
                height: 94px;
                max-width: 94px;
                max-height: 94px;
                text-align:left;
               
            }
            .calendar-day-number{
                vertical-align: bottom;
                overflow: visible;
                position: relative;
                z-index: 100;
            }
            .calendar-day-number > p{
                height: 20px;
                text-align: right;
                font-size: 1rem;
                margin-top: auto;
                margin-bottom: auto;
                
            }
            .displayed-data{
                text-decoration: none;
                color:unset;
            }
            .displayed-data:hover{
                text-decoration: underline;
            }
            .eventContainer {
                height: 90%;
                width: fit-content;
                max-width: 100%;
                vertical-align: top;
                top:0px;
                text-align: left;
                overflow-y: scroll;
            }/*
            .eventContainer:hover {
                background-color: green;
            }*/
            .eventItem {
                
            }
            /*.tooltip{
                
                width:fit-content;
                background-color: aquamarine;
                border: 5px dashed salmon;
                border-radius: 5px;
                position:fixed;
                top:auto;
                bottom:0;
                padding:5px;
                transform: translateY(10%);
                visibility: hidden;
            }*/
            .tooltip {
                width: fit-content;
                background-color: aquamarine;
                border: 5px dashed salmon;
                border-radius: 8px;
                padding:0.5em;
                position:absolute;
                bottom: 101%;
                left: 0;
                visibility:hidden;
            }
            
            .calendar-day-number:hover .tooltip {
                visibility: visible;
            }
        </style>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
        <script>
            $(document).ready(function () {
                var times = 0;
                const p = document.getElementById("funny-text");
                $("#reset-button").click(function(event) {
                    p.innerText = `dddddd${times}`;
                    times++;
                });
            });
            
        </script>
        <meta name="description" content="Calendar Website for FSN">
        <meta property="og:image" content="assets/icon?type=png"><!--IMPLEMENTS THIS LATER--> 
        <title>Full-Stack Nexus CRHS</title>
    </head>

    <body>
        <h1>hi <%= locals.text || "wanderer" %></h1>

        hover over/click on dates to see full info!
        <br>
        Try submitting something below!

        <form id="login-form" autocomplete="off">
            <input id="username" placeholder="Username: " type="text" name="username" required>
            <input id="title" placeholder="Title: " type="text" name="title" required>
            <input id="description" placeholder="Description: " type="text" name="description">
            <input id="date" type="date" name="date" required>
            <input id="timestart" type="time" name="time" required>
            <span> -> </span>
            <input id="timeend" type="time" name="timeend">
            
            <button id="login-button" type="submit">Submit</button>
            <button id="reset-button" type="reset">Reset</button>
        </form>
        <form id="see-data">
            <button id="update-data">Update Event Data</button>
            <button id="see-data-button" type="submit">See All Data</button>
            <button id="reset-displayed-data" type="reset">Reset Displayed Data</button>
        </form>
        <div id="see-form-data">

        </div>
        <table id="calendar">
            <tr id="row-1">
                
            </tr>
            <tr id="row-2">

            </tr>
            <tr id="row-3">

            </tr>
            <tr id="row-4">

            </tr>
            <tr id="row-5">

            </tr>
            <tr id="row-6">
                
            </tr>
        </table>
        
    </body>
    
    
    <script type="module" src="<%= BASE_URL %>/assets/scripts/requestCalendarEvents.js" type="javascript"></script>
    <script type="module" src="<%= BASE_URL %>/assets/scripts/submitCalendarEvents.js" type="javascript"></script>
    <script type="module" src="<%= BASE_URL %>/assets/scripts/buildCalendar.js"></script>
    
    <script type="module" src="<%= BASE_URL %>/assets/scripts/hoverTooltips.js" type="javascript"></script>
    <script type="module" src="<%= BASE_URL %>/assets/scripts/handleButtons.js" type="javascript"></script>
    <script type="text/javascript">
        
    </script>
</html>