<!DOCTYPE html>
<html>
    <head>
        <script>
            const BASE_URL = "<%= locals.BASE_URL %>";
        </script>

        <title>Calendar Meeting Schedule</title>
        
        <meta property="og:image" content="<%= BASE_URL %>/assets/icon?type=png"><!--IMPLEMENTS THIS LATER--> 
        <meta content="<%= BASE_URL %>/assets/icon-mini?type=png" property="og:image" />
        <meta content="#b69cff" data-react-helmet="true" name="theme-color" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="description" content="Calendar page for Full Stack Nexus. Visit to see meeting schedules!">
    
    
        <link rel="stylesheet" href="<%= BASE_URL %>/assets/styles/calendar.css">
        <script src="<%= BASE_URL %>/assets/scripts/calendar/calendar.js" type="module" defer></script>
        <script defer type="module" crossorigin="use-credentials">
            
        </script>

    </head>
    <body>

        <header>
            <h1>NOTE: QoL things partially broken for mobile devices but will fix later </h1>
            <h2>dont worry all the calendar events are working!</h2>
            <div id="header-bottom-half">
                <h1>meeting schedule for</h1>
                <h1 id="input-month-year">
                
                </h1>
                <h1 id="next-meeting-date">

                </h1>
            </div>
        </header>
        <% if(locals.permissions === "admin" /*true*/){ %>
            <form id="submit-form" autocomplete="off">
                <!-- username from user session -->
                <span title="username">|<%= locals.username %>|</span>
                <input id="title" placeholder="Title: " type="text" name="title" required>
                <input id="location" placeholder="Location: " type="text" name="location" required>
                <input id="description" placeholder="Description: " type="text" name="description">
                <input id="date" type="date" name="date" required>
                <input id="starttime" type="time" name="starttime" required>
                <span> -> </span>
                <input id="endtime" type="time" name="endtime">
                
                <button id="login-button" type="submit">Submit</button>
                <button id="reset-button" type="reset">Reset</button>
            </form>
            <form id="delete-form" autocomplete="off">
                <input id="delete-id" type="number" name="id" placeholder="ID: " value="1" required>
                <button id="delete-button" type="submit">Delete</button>
            </form>
            <script defer>
                document.getElementById('date').value = new Date().toISOString().split('T')[0];
            </script>
            <script src="<%= BASE_URL %>/assets/scripts/calendar/adminCalendar.js" type="module" defer></script>

        <% }else{ %>
            <form>
                <span style="font-size: 2em;">navigation -></span>
                <input id="date" type="date" name="date">
            </form>
        <% } %>
        <table id="calendar">
            <tr id="row-1" class="calendar-row">
                
            </tr>
            <tr id="row-2" class="calendar-row">

            </tr>
            <tr id="row-3" class="calendar-row">

            </tr>
            <tr id="row-4" class="calendar-row">

            </tr>
            <tr id="row-5" class="calendar-row">

            </tr>
            <tr id="row-6" class="calendar-row">
                
            </tr>
        </table>


        <footer></footer>

    </body>
</html>