<!DOCTYPE html>
<html>
    <head lang="en">
        <meta name="description" content="The official website of Full-Stack Nexus at CRHS, a webby devvy club!">
	    <title>Full-Stack Nexus CRHS</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&amp;family=Major+Mono+Display&amp;display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>/assets/styles/home-0.css">  
        <meta content="<%= BASE_URL %>/assets/icon?type=png" property="og:image"/>
        <meta content="#b69cff" data-react-helmet="true" name="theme-color"/>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="robots" content="all">
        <style>
            @keyframes rainbow-text{
                0% {
                    color: red;
                }
                16.67% {
                    color: orange;
                }
                33.33% {
                    color: yellow;
                }
                50% {
                    color: rgb(0, 255, 0);
                }
                66.67% {
                    color: rgb(0, 60, 255);
                }
                83.33% {
                    color: rgb(140, 0, 255);
                }
                100% {
                    color: rgb(255, 0, 242);
                }
            }
        </style>
        <% if(locals.username){ %>
            <style>
                #profile-button{
                    background-color: #b69cff;
                }
            </style>
        <% } %>
    </head>
    <body>
        <header>
            <div id="nav-button-container"><!--maybe make this its seperate file-->
                <img id="header-icon" src="assets/icon-mini" draggable="false">

                <span id="nav-menu-left">
                    <a id="calendar" class="nav-button" data-info="calendar" href="/calendar">
                        Event Calendar
                    </a>
                    <a id="student-projects" class="nav-button" data-info="projects" href="/projects">
                        Student-Made Projects
                    </a>
                </span>

                <span id="nav-menu-right">
                    <%if(locals.permissions === "admin"){ %>
                        <a id="approve-button" class="nav-button" data-info="approve" href="/approve">
                            Approve
                        </a>
                    <% } %>
                    <% if(locals.username){ %>
                        <a id="members-button" class="nav-button" data-info="members" href="/members">
                            Members
                        </a>
                        <a id="profile-button" class="nav-button" data-info="profile" href="/profile">
                            <%= username %>
                        </a>
                        
                    <%} else { %>
                        <a id="register-button" class="nav-button" data-info="register" href="/register">
                            Register
                        </a>
                        <a id="login-button" class="nav-button" data-info="login" href="/login">
                            Login
                        </a>
                        <a id="join-button" class="nav-button" data-info="join" href="/join">
                            Join The Club!
                        </a>
                    <% } %>
                </span>
            </div>
        </header>

        <div id="main-page">
            <h1>hi Test tEst teSt tesT</h1>
	        <h2><s>This page will be the club's main page until andrew finds enough time to finish this.</s> Read 12/9/23 changelog!</h2>
            <h3 style="color:red; animation: rainbow-text 2.5s linear infinite;">if some buttons dont work dont worry im<s> lazy </s>working on it!</h3>
            <p>this is a thing.</p>
        </div>

        <div id="changelog">
            <div>
                <h2>Update 1/2/24: happy new yearss! added the official calendar after late night codings ;-;. THE CALENDAR IS PARTIALLY BROKEN FOR MOBILE DEVICES I KNOW I WILL FIX IT LATER</h2>
            </div>
            <div>
                <h2>Update 12/11/23: added horizontal trackpad scrolling on the project cards. vvv check it out in the post below! vvvv</h2>
            </div>
            <div>
                <h2>Update 12/9/23: I patched project uploads! hopefully it works now -> <a href="projects" style="padding:3px; border:4px solid red; animation: rainbow-text 2.6s linear infinite;">projects</a></h2> 
            </div>
            <div>
                <h2>Update 12/3/23: projects are now up and working! Navigate there to find out more.</h2> 
            </div>
        </div>

        <footer>
            <span id="server-start" data-starttime="<%= locals.starttime %>" data-starttimems="<%= locals.starttimems %>"> <!-- too lazy rn for those peeking at the ejs file 00 -->
            </span>
            <span id="server-time">
                <%= ((Date.now() - starttime.getTime()) / 3600000).toFixed(3) %>
            </span>
            <span>
                hours
            </span>
            <script>
                const starttime = new Date(document.getElementById("server-start").dataset.starttime).toString();
                console.log(starttime)
                document.getElementById("server-start").innerText = 
                "Running Since " + starttime.substring(0, 15) + ", " +
                starttime.substring(16, starttime.indexOf(":") + 15) + 
                " (~ 24-hour ~), up for ";
            </script>
        </footer>

    </body>
    <!-- MAEK SHORE that home.js is put after body -->
    <script src="assets/scripts/home.js"></script>
</html>
