<!DOCTYPE html>
<html>
    <head lang="en">
        <meta name="description" content="The official website of Full-Stack Nexus at CRHS, a webby devvy club!">
	    <title>Full-Stack Nexus CRHS</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&amp;family=Major+Mono+Display&amp;display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>/assets/styles/home-0.css">  
        <meta content="<%= BASE_URL %>/assets/icon?type=png" property="og:image"/>
        <meta content="#b69cff" data-react-helmet="true" name="theme-color"/>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="robots" content="all">
        <style>
            @keyframes rainbow-text{
                0% {
                    color: red;
                }
                16.67% {
                    color: orange;
                }
                33.33% {
                    color: yellow;
                }
                50% {
                    color: rgb(0, 255, 0);
                }
                66.67% {
                    color: rgb(0, 60, 255);
                }
                83.33% {
                    color: rgb(140, 0, 255);
                }
                100% {
                    color: rgb(255, 0, 242);
                }
            }
        </style>
        <% if(locals.username){ %>
            <style>
                #profile-button{
                    background-color: #b69cff;
                }
            </style>
        <% } %>
    </head>
    <body>
        <header>
            <div id="nav-button-container"><!--maybe make this its seperate file-->
                <img id="header-icon" src="assets/icon-mini" draggable="false">

                <span id="nav-menu-left">
                    <span id="calendar" class="nav-button" data-info="calendar">
                        Calendar(placeholder)
                    </span>
                    <span id="student-projects" class="nav-button" data-info="projects">
                        Student-Made Projects
                    </span>
                </span>

                <span id="nav-menu-right">
                    <%if(locals.permissions === "admin"){ %>
                        <span id="approve-button" class="nav-button" data-info="approve">
                            Approve
                        </span>
                    <% } %>
                    <% if(locals.username){ %>
                        <span id="members-button" class="nav-button" data-info="members">
                            Members
                        </span>
                        <span id="profile-button" class="nav-button" data-info="profile">
                            <%= username %>
                        </span>
                        
                    <%} else { %>
                        <span id="register-button" class="nav-button" data-info="register">
                            Register
                        </span>
                        <span id="login-button" class="nav-button" data-info="login">
                            Login
                        </span>
                        <span id="join-button" class="nav-button" data-info="join">
                            Join The Club!
                        </span>
                    <% } %>
                </span>
            </div>
        </header>

        <div id="after-header"></div>

        <div id="main-page">
            <h1>hi Test tEst teSt tesT</h1>
	        <h2>This page will be a placeholder for the club's main page until andrew finds enough time to finish this.</h2>
            <h3 style="color:red; animation: rainbow-text 2.5s linear infinite;">IF ANY BUTTONS GIVE YOU AN ERROR IT HAS LIKELY NOT BEEN IMPLEMENTED YET</h3>
            <p>this is a thing.</p>
        </div>

        <footer>
            <span id="server-start" data-starttime="<%= locals.starttime %>" data-starttimems="<%= locals.starttimems %>"> <!-- too lazy rn for those peeking at the ejs file 00 -->
            </span>
            <span id="server-time">
                <%= ((Date.now() - starttime.getTime()) / 3600000).toFixed(3) %>
            </span>
            <span>
                hours
            </span>
            <script>
                
                const starttime = new Date(document.getElementById("server-start").dataset.starttime).toString();
                console.log(starttime)
                document.getElementById("server-start").innerText = 
                "Running Since " + starttime.substring(0, 15) + ", " +
                starttime.substring(16, starttime.indexOf(":") + 15) + 
                " (~ 24-hour ~), up for ";
            </script>
        </footer>

    </body>
    <!-- MAEK SHORE that home.js is put after body -->
    <script src="assets/scripts/home.js"></script>
</html>
